<body>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">Activity</div>
                </div>
            </div>

            <div class="pages navbar-through toolbar-through">
                <div data-page="activity" class="page">
                    <div class="page-content">

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="profile.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/59.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Patsy Fowler</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">12 min ago</time>
                                                </div>
                                                <div class="item-subtitle activity">Liked 4 photos</div>
                                            </div>
                                        </div>
                                        <div class="photos-like">
                                            <img class="photos" src="img/article1_80x80.jpg" />
                                            <img class="photos" src="img/article2_80x80.jpg" />
                                            <img class="photos" src="img/article3_80x80.jpg" />
                                            <img class="photos" src="img/article4_80x80.jpg" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="profile1.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">18 min ago</time>
                                                </div>
                                                <div class="item-subtitle activity">is now following you</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="article.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Anne Powell</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">26 min ago</time>
                                                </div>
                                                <div class="item-subtitle activity">Posted a comment</div>
                                            </div>
                                        </div>
                                        <div class="item-text comment activity">Il y a assez longtemps, nous évoquions quelques astuces, basées sur des statistiques, pour choisir les bonnes photos, afin d’avoir plus de succès sur les sites de rencontre. Mais après avoir vu les résultats de la petite expérience menée par cette bloggeuse américaine sur Tinder, force est de constater qu’il faudrait peut-être commencer par abuser de Photoshop si l’on souhaite mettre toutes les chances de son côté.</div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="profile.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/59.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Patsy Fowler</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">39 min ago</time>
                                                </div>
                                                <div class="item-subtitle activity">is now following you</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="profile2.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Anne Powell</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">1 hours ago</time>
                                                </div>
                                                <div class="item-subtitle activity">Liked 8 photos</div>
                                            </div>
                                        </div>
                                        <div class="photos-like">
                                            <img class="photos" src="http://gta5onlinegame.com/wp-content/uploads/2015/08/GTA-V-Gameplay-180x180.jpg" />
                                            <img class="photos" src="http://cdn2-b.examiner.com/sites/default/files/styles/square_thumb_medium/hash/cf/d6/cfd66ef9a71609057cbeebcee197fa4d.jpg?itok=v7wA7s3w" />
                                            <img class="photos" src="http://cdn2-b.examiner.com/sites/default/files/styles/square_thumb_medium/hash/3f/2e/1375224073_3558_Heli.jpg?itok=8xwdVBoL" />
                                            <img class="photos" src="http://cdn2-b.examiner.com/sites/default/files/styles/square_thumb_medium/hash/9e/ba/9eba2bd784af2074656d9991bb46c305.jpg?itok=SoAAvkuo" />
                                            <img class="photos" src="https://static58.cmtt.ru/tj_paper/previews-180/5771.jpg" />
                                            <img class="photos" src="http://www.anaitgames.com/images/articulo/126515/gta-v-ps4-xbox-one-pc-recompensas-exclusivas-listado.jpg" />
                                            <img class="photos" src="http://cdn2-b.examiner.com/sites/default/files/styles/square_thumb_medium/hash/99/55/9955bd3e299a31081d4bad8a0d1b9fde.jpg?itok=Hu4bUkFP" />
                                            <img class="photos" src="http://gta5onlinegame.com/wp-content/uploads/2015/05/gta5_pc_501-180x180.jpg" />
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="article.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">3 hours ago</time>
                                                </div>
                                                <div class="item-subtitle activity">Posted a comment</div>
                                            </div>
                                        </div>
                                        <div class="item-text comment activity">Le 3 août dernier, le corps de la jeune Eva Bourseau, en partie décomposé et caché dans une malle remplie d'acide, était retrouvé dans un appartement du centre de Toulouse. Depuis, les profils des trois suspects se sont affinés.</div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                        <div class="list-block media-list">
                            <ul class="home">
                                <li>
                                    <a href="profile.html" class="item-link activity">
                                        <div class="item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author activity">Anne Powell</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">39 min ago</time>
                                                </div>
                                                <div class="item-subtitle activity">is now following you</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="separator activity"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>