<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/my-app.css">
</head>

<body>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="index.html" class="link">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">Aristote</div>
                    <div class="right">
                        <a href="#" class="link icon-only open-panel">
                            <a href="#" class="ac-1"><span class="ti-export"></span></a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="article" class="page">

                    <div class="page-content hide-bars-on-scroll">

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/59.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Patsy Fowler</div>
                                                </div>
                                                <div class="time"><time datetime="2015-08-30">Aug 30, 2015</time></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article1.jpg">
                                <h1 class="article-title">
                                    La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches
                                </h1>
                                <div class="article-content intro">
                                    Si vous voulez mettre toutes les chances de votre côté, n’hésitez pas à utiliser Photoshop ou un autre logiciel pour retoucher vos photos. Triste réalité ?
                                </div>
                                <div class="separator-intro"></div>
                                <div class="article-content">
                                    Il y a assez longtemps, nous évoquions quelques astuces, basées sur des statistiques, pour choisir les bonnes photos, afin d’avoir plus de succès sur les sites de rencontre. Mais après avoir vu les résultats de la petite expérience menée par cette bloggeuse américaine sur Tinder, force est de constater qu’il faudrait peut-être commencer par abuser de Photoshop si l’on souhaite mettre toutes les chances de son côté. Alexa Mitchell a d’abord fait un essai avec trois selfies « naturels », c’est-à-dire sans maquillage et surtout sans aucune retouche. Résultat, elle n’a eu que 16 matches sur 100 tentatives. Triste n’est-ce-pas ?
                                    <br>
                                    <br>En revanche, après qu’elle ait retouché ces trois mêmes photos avec une application mobile, c’est devenu nettement plus intéressant.
                                    <br>
                                    <br>En effet, grâce à ses photos retouchées (à volonté), la bloggeuse est parvenue à avoir 73 matches sur ses 100 nouvelles tentatives. Les quelques petites modifications qu’elle a effectuées sur les trois selfies d’origine ont ainsi permis de multiplier les chances par quatre.
                                </div>
                            </div>
                        </article>

                        <div class="content-block comment">
                            <div class="content-block-inner comment">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                        <div class="left number-comment">14 comments</div>
                                    </div>
                                    <div class="col-50">
                                        <a href="comments.html" class="right post-comment">See all</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-block media-list comment">
                            <ul class="comment">
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                              <img src="https://randomuser.me/api/portraits/med/women/3.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Anne Powell</div>
                                            </div>
                                            <div class="time">2min</div>
                                            <div class="item-text comment">Il y a assez longtemps, nous évoquions quelques astuces, basées sur des statistiques, pour choisir les bonnes photos, afin d’avoir plus de succès sur les sites de rencontre. Mais après avoir vu les résultats de la petite expérience menée par cette bloggeuse américaine sur Tinder, force est de constater qu’il faudrait peut-être commencer par abuser de Photoshop si l’on souhaite mettre toutes les chances de son côté.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/60.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Kathy Bennett</div>
                                            </div>
                                            <div class="time">22min</div>
                                            <div class="item-text comment">Media list view is extended case of list view indended to display more complex data like products, services, users, etc. And of course it has a bit more complex layout.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/men/28.jpg" style="border-radius:100%" width="40" height="40"/>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Carl May</div>
                                            </div>
                                            <div class="time">28min</div>
                                            <div class="item-text comment">Kia lève le voile sur le voile sur sa nouvelle et 4ème génération de Kia Optima qui sera présentée au salon de Francfort dès mi-septembre.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/26.jpg" style="border-radius:100%" width="40" height="40">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Hazel Lane</div>
                                            </div>
                                            <div class="time">36min</div>
                                            <div class="item-text comment">Le 3 août dernier, le corps de la jeune Eva Bourseau, en partie décomposé et caché dans une malle remplie d'acide, était retrouvé dans un appartement du centre de Toulouse. Depuis, les profils des trois suspects se sont affinés.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/24.jpg" style="border-radius:100%" width="40" height="40"/>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Sylvia Patterson</div>
                                            </div>
                                            <div class="time">3h</div>
                                            <div class="item-text comment">Lors d’une rencontre de quatrième division anglaise, Aaron Pierre, défenseur des Wycombe Wanderers, a célébré son but avec un petit ramasseur de balle trop heureux de voir son équipe l'emporter.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="content-block comment-write">
                            <div class="content-block-inner comment">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                        <div class="left number-comment">Write a comment</div>
                                    </div>
                                    <div class="col-50">
                                        <a href="login.html" class="right post-comment">LOG IN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list-block comment">
                            <ul class="message-comment">
                                <li class="align-top">
                                  <div class="item-content">
                                    <div class="item-media"></div>
                                    <div class="item-inner">
                                      <div class="item-input">
                                        <textarea></textarea>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        
                        <a href="#" class="button button-big button-round post">Post a comment</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
</body>

</html>