<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Projet Ara : Google décide de retarder la sortie de son smartphone modulaire</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/my-app.css">
</head>

<body>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="index.html" class="link">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">Aristote</div>
                    <div class="right">
                        <a href="#" class="link icon-only open-panel">
                            <a href="#" class="ac-1"><span class="ti-export"></span></a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="article" class="page">

                    <div class="page-content hide-bars-on-scroll">

                        <article>
                            <div class="list-block media-list">
                                <h1 class="article-title">
                                    Projet Ara : Google décide de retarder la sortie de son smartphone modulaire
                                </h1>
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Albert Bennett</div>
                                                </div>
                                                <div class="time position"><time datetime="2015-08-30">Aug 30, 2015</time></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="separator-intro"></div>
                                <div class="article-content intro style">
                                    Normalement, les smartphones modulaires de Google devaient arriver en Amérique Latine cette année. Mais la firme de Mountain View a décidé de retarder ce lancement.
                                </div>
                                <img class="article" src="img/article4.jpg">
                                <div class="article-content">
                                    Les projets de Google sont très nombreux mais parmi ceux qui sont les plus intéressants, il y a le projet Ara. Dévoilé au public à l’époque où le constructeur Motorola appartenait encore à la Firme de Moutain View, celui-ci consiste à développer des smartphones modulaires.                      
                                    <img class="article" src="img/article4-1.jpg">
                                    <br>
                                    <br>
                                    Un smartphone modulaire est composé d’un endosquelette, la plateforme qui reçoit les modules et de modules qui contiennent les différents composants du mobile, comme le WiFi, l’antenne 3G, l’écran ou encore la batterie.
                                    <img class="article" src="img/article4-2.jpg">
                                    <br>
                                    <br>
                                    Ce type de mobile serait très avantageux pour le consommateur, dans la mesure où il permettrait à celui-ci de choisir les composants de son smartphones selon ses besoins, d’en remplacer lorsque ceux-ci tendent à devenir obsolètes et d’éviter d’acheter un nouveau smartphone si seul un composant est endommagé.
                                    <img class="article" src="img/article4-3.jpg">
                                    <br>
                                    <br>
Par ailleurs, comme nous l’évoquions il y a quelques mois, Google avait déjà prévu de lancer un essai du projet au Porto Rico dès la fin de l’année, avec 20 à 30 modules disponibles.
                                    <img class="article" src="img/article4-4.jpg">
                                    <br>
                                    <br>
Mais finalement, le lancement est retardé et il faudra attendre jusqu’en 2016 pour voir ce nouveau type de smartphone arriver sur le marché. Sur Twitter, Google évoque le fait qu’il a besoin de faire plus d’itérations qu’il ne le pensait.
                                </div>
                            </div>
                        </article>

                        <div class="content-block comment">
                            <div class="content-block-inner comment">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                        <div class="left number-comment">14 comments</div>
                                    </div>
                                    <div class="col-50">
                                        <a href="comments.html" class="right post-comment">See all</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-block media-list comment">
                            <ul class="comment">
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                              <img src="https://randomuser.me/api/portraits/med/women/63.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Carmen Tucker</div>
                                            </div>
                                            <div class="time">2min</div>
                                            <div class="item-text comment">Il y a assez longtemps, nous évoquions quelques astuces, basées sur des statistiques, pour choisir les bonnes photos, afin d’avoir plus de succès sur les sites de rencontre. Mais après avoir vu les résultats de la petite expérience menée par cette bloggeuse américaine sur Tinder, force est de constater qu’il faudrait peut-être commencer par abuser de Photoshop si l’on souhaite mettre toutes les chances de son côté.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/60.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Kathy Bennett</div>
                                            </div>
                                            <div class="time">22min</div>
                                            <div class="item-text comment">Media list view is extended case of list view indended to display more complex data like products, services, users, etc. And of course it has a bit more complex layout.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/men/28.jpg" style="border-radius:100%" width="40" height="40"/>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Carl May</div>
                                            </div>
                                            <div class="time">28min</div>
                                            <div class="item-text comment">Kia lève le voile sur le voile sur sa nouvelle et 4ème génération de Kia Optima qui sera présentée au salon de Francfort dès mi-septembre.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/men/98.jpg" style="border-radius:100%" width="40" height="40">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Joe Morrison</div>
                                            </div>
                                            <div class="time">36min</div>
                                            <div class="item-text comment">Le 3 août dernier, le corps de la jeune Eva Bourseau, en partie décomposé et caché dans une malle remplie d'acide, était retrouvé dans un appartement du centre de Toulouse. Depuis, les profils des trois suspects se sont affinés.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/24.jpg" style="border-radius:100%" width="40" height="40"/>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Sylvia Patterson</div>
                                            </div>
                                            <div class="time">3h</div>
                                            <div class="item-text comment">Lors d’une rencontre de quatrième division anglaise, Aaron Pierre, défenseur des Wycombe Wanderers, a célébré son but avec un petit ramasseur de balle trop heureux de voir son équipe l'emporter.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="content-block comment-write">
                            <div class="content-block-inner comment">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                        <div class="left number-comment">Write a comment</div>
                                    </div>
                                    <div class="col-50">
                                        <a href="login.html" class="right post-comment">LOG IN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list-block comment">
                            <ul class="message-comment">
                                <li class="align-top">
                                  <div class="item-content">
                                    <div class="item-media"></div>
                                    <div class="item-inner">
                                      <div class="item-input">
                                        <textarea></textarea>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                        
      
                        <a href="#" class="button button-big button-round post">Post a comment</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
</body>

</html>