<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Le Galaxy Note 5 a une plus « petite » batterie, mais une meilleure autonomie que le Note 4</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/my-app.css">
</head>

<body>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="index.html" class="link">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">Aristote</div>
                    <div class="right">
                        <a href="#" class="link icon-only open-panel">
                            <a href="#" class="ac-1"><span class="ti-export"></span></a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="article" class="page">

                    <div class="page-content hide-bars-on-scroll">

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Anne Powell</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">Aug 29, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article3.jpg">
                                <h1 class="article-title">
Le Galaxy Note 5 a une plus « petite » batterie, mais une meilleure autonomie que le Note 4
</h1>
                                <div class="article-content intro">
                                    Le Galaxy Note 5 a une batterie de 3 000 mAh, ce qui ne l’empêche pas d’avoir une meilleure autonomie que le Note 4.
                                </div>
                                <div class="separator-intro"></div>
                                <div class="article-content">
                                    L’année dernière, les fans de Samsung s’étaient inquiétés après la sortie du Galaxy Note 4 puisque la batterie du smartphone était, à l’instar de celle du Note 3, de 3 300 mAh. Logiquement, on voudrait que le modèle plus récent ait droit à une batterie plus grande, surtout quand celui-ci a un écran QHD qui consommera a priori plus d’énergie. Mais des tests ont montré que dans la pratique, le Note 4 tient plus longtemps que le Note 3.
                                    <img class="article" src="img/article3-1.jpg">
                                    <br>
                                    <br>Et après la présentation du Galaxy Note 5 par Samsung la semaine dernière, de nombreux fans se sont demandés si la nouvelle phablette de Samsung allait tenir longtemps puisque la batterie de 3 000 mAh du smartphone est plus « petite » que celle de son prédécesseur, le Note 4, qui est de 3 300 mAh.
                                    <img class="article" src="img/article3-2.jpg">
                                    <br>
                                    <br>Ces doutes sont justifiés. Cependant, si l’on tient compte du benchmark réalisé par nos confrères de PhoneArena, il n’en est rien. Bien que la batterie du Galaxy Note 5 soit de 3 000 mAh et que celle du Note 4 de soit de 3 300 mAh, le Note 5 tiendrait plus longtemps que son prédécesseur.
                                </div>
                            </div>
                        </article>

                        <div class="list-block media-list next-article">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <ul class="next-article">
                                            <li>
                                                <a href="article3.html" class="item-link item-content next-article">
                                                    <div class="item-media">
                                                        <img class="next-article" src="img/article4_80x80.jpg" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title next-article">Albert Bennett</div>
                                                        </div>
                                                        <div class="item-title-row">
                                                            <div class="item-text next-article">Projet Ara : Google décide de retarder la sortie de son smartphone modulaire</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="swiper-slide">
                                        <ul class="next-article">
                                            <li>
                                                <a href="article.html" class="item-link item-content next-article">
                                                    <div class="item-media">
                                                        <img class="next-article" src="img/article1_80x80.jpg" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title next-article">Patsy Fowler</div>
                                                        </div>
                                                        <div class="item-title-row">
                                                            <div class="item-text next-article">La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="swiper-slide">
                                        <ul class="next-article">
                                            <li>
                                                <a href="article1.html" class="item-link item-content next-article">
                                                    <div class="item-media">
                                                        <img class="next-article" src="img/article2_80x80.jpg" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title next-article">Hazel Lane</div>
                                                        </div>
                                                        <div class="item-title-row">
                                                            <div class="item-text next-article">Depuis que Google a changé de nom, les demandes de noms de domaine en .XYZ ont explosé</div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content-block comment">
                            <div class="content-block-inner comment">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                        <div class="left number-comment">14 comments</div>
                                    </div>
                                    <div class="col-50">
                                        <a href="login.html" class="right post-comment">See all</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-block media-list comment">
                            <ul class="comment">
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/63.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Carmen Tucker</div>
                                            </div>
                                            <div class="time">2min</div>
                                            <div class="item-text comment">Il y a assez longtemps, nous évoquions quelques astuces, basées sur des statistiques, pour choisir les bonnes photos, afin d’avoir plus de succès sur les sites de rencontre. Mais après avoir vu les résultats de la petite expérience menée par cette bloggeuse américaine sur Tinder, force est de constater qu’il faudrait peut-être commencer par abuser de Photoshop si l’on souhaite mettre toutes les chances de son côté.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/60.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Kathy Bennett</div>
                                            </div>
                                            <div class="time">22min</div>
                                            <div class="item-text comment">Media list view is extended case of list view indended to display more complex data like products, services, users, etc. And of course it has a bit more complex layout.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/men/28.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Carl May</div>
                                            </div>
                                            <div class="time">28min</div>
                                            <div class="item-text comment">Kia lève le voile sur le voile sur sa nouvelle et 4ème génération de Kia Optima qui sera présentée au salon de Francfort dès mi-septembre.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/men/98.jpg" style="border-radius:100%" width="40" height="40">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Joe Morrison</div>
                                            </div>
                                            <div class="time">36min</div>
                                            <div class="item-text comment">Le 3 août dernier, le corps de la jeune Eva Bourseau, en partie décomposé et caché dans une malle remplie d'acide, était retrouvé dans un appartement du centre de Toulouse. Depuis, les profils des trois suspects se sont affinés.</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-link item-content">
                                        <div class="item-media">
                                            <img src="https://randomuser.me/api/portraits/med/women/24.jpg" style="border-radius:100%" width="40" height="40" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author-comment">Sylvia Patterson</div>
                                            </div>
                                            <div class="time">3h</div>
                                            <div class="item-text comment">Lors d’une rencontre de quatrième division anglaise, Aaron Pierre, défenseur des Wycombe Wanderers, a célébré son but avec un petit ramasseur de balle trop heureux de voir son équipe l'emporter.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="content-block comment-write">
                            <div class="content-block-inner comment">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                        <div class="left number-comment">Write a comment</div>
                                    </div>
                                    <div class="col-50">
                                        <a href="comments.html" class="right post-comment">LOG IN</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-block comment">
                            <ul class="message-comment">
                                <li class="align-top">
                                    <div class="item-content">
                                        <div class="item-media"></div>
                                        <div class="item-inner">
                                            <div class="item-input">
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="#" class="button button-big button-round post">Post a comment</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
</body>

</html>