<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Aristote Template</title>
    <link rel="shortcut icon" href="icon/icon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="icon/icon.png">
    <link rel="apple-touch-icon-precomposed" href="icon/icon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/my-app.css">
</head>

<body>
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>

    <div class="panel panel-left panel-reveal">
        <div class="content-block menu">
            <div class="container">
                <ul>
                    <li class="dropdown">
                        <input type="checkbox" />
                        <a href="#" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index1.html">Home 1</a></li>
                            <li><a href="index2.html">Home 2</a></li>
                            <li><a href="index3.html">Home 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <input type="checkbox" />
                        <a href="#" data-toggle="dropdown">Login</a>
                        <ul class="dropdown-menu">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="login1.html">Login 1</a></li>
                            <li><a href="login2.html">Login 2</a></li>
                            <li><a href="login3.html">Login 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <input type="checkbox" />
                        <a href="#" data-toggle="dropdown">Profile</a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="profile1.html">Profile 1</a></li>
                            <li><a href="profile2.html">Profile 2</a></li>
                            <li><a href="profile3.html">Profile 3</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <input type="checkbox" />
                        <a href="#" data-toggle="dropdown">Widget</a>
                        <ul class="dropdown-menu">
                            <li><a href="map.html">Map</a></li>
                            <li><a href="traffic.html">Trafic</a></li>
                            <li><a href="weather.html">Weather</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="activity.html" data-toggle="unique">Activity</a>
                    </li>
                    <li class="dropdown">
                        <a href="chat.html" data-toggle="unique">Chat</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-right panel-reveal">
        <div class="content-block menu">
            <div class="container menu-right">
                <img width="100" height="100" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/men/3.jpg">
                <div class="item-title author profile menu-right">Albert Bennett</div>
                <div class="item-subtitle location menu-right">Paris, France</div>
                <ul class="menu-right">
                    <li class="dropdown">
                        <a href="profile3.html" data-toggle="unique">Profile</a>
                    </li>
                    <li class="dropdown">
                        <a href="index2.html" data-toggle="unique">My Stories</a>
                    </li>
                    <li class="dropdown">
                        <a href="activity.html" data-toggle="unique">Activity</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link icon-only open-panel">
                            <span class="ti-menu"></span>
                        </a>
                    </div>
                    <div class="center sliding">Aristote</div>
                    <div class="right">
                        <a href="#" data-panel="right" class="link icon-only open-panel">
                            <span class="ti-user"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="index" class="page">
                    <div class="page-content">

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/59.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Patsy Fowler</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">Aug 30, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article1.jpg">
                                <h1 class="article-title">
La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches
</h1>
                                <div class="article-content">
                                    Si vous voulez mettre toutes les chances de votre côté, n’hésitez pas à utiliser Photoshop ou un autre logiciel pour retoucher vos photos. Triste réalité ?
                                </div>
                                <a class="readmore" href="article.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">Aug 30, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article2.jpg">
                                <h1 class="article-title">
Depuis que Google a changé de nom, les demandes de noms de domaine en .XYZ ont explosé
</h1>
                                <div class="article-content">
                                    Le nom de domaine d’Alphabet, la nouvelle maison mère de Google, est ABC.XYZ.
                                </div>
                                <a class="readmore" href="article1.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Anne Powell</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-29">Aug 29, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article3.jpg">
                                <h1 class="article-title">
Le Galaxy Note 5 a une plus « petite » batterie, mais une meilleure autonomie que le Note 4
</h1>
                                <div class="article-content">
                                    Le Galaxy Note 5 a une batterie de 3 000 mAh, ce qui ne l’empêche pas d’avoir une meilleure autonomie que le Note 4.
                                </div>
                                <a class="readmore" href="article2.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/men/3.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Albert Bennett</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-29">Aug 29, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article4.jpg">
                                <h1 class="article-title">
Projet Ara : Google décide de retarder la sortie de son smartphone modulaire
</h1>
                                <div class="article-content">
                                    Normalement, les smartphones modulaires de Google devaient arriver en Amérique Latine cette année. Mais la firme de Mountain View a décidé de retarder ce lancement.
                                </div>
                                <a class="readmore" href="article3.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/jquery.simpleWeather.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
</body>

</html>