<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Aristote Template</title>
    <link rel="shortcut icon" href="icon/icon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="icon/icon.png">
    <link rel="apple-touch-icon-precomposed" href="icon/icon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/my-app.css">
</head>

<body>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="link icon-only open-panel">
                            <span class="ti-menu"></span>
                        </a>
                    </div>
                    <div class="center sliding">Aristote</div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="index" class="page">
                    <div class="page-content">

                        <div class="content-block home0">
                            <div class="row no-gutter">

                                <div class="col-50 home0">
                                    <article class="home0">
                                        <div class="list-block media-list">
                                            <img class="article home0" src="img/article1.jpg">
                                            <div class="time home0">
                                                <time datetime="2015-08-30">Aug 30, 2015</time>
                                            </div>
                                            <h1 class="article-title home0">
La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches 
</h1>
                                            <a class="readmore" href="article.html" class="link">Read more</a>
                                            <div class="separator"></div>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-50 home0">
                                    <article class="home0">
                                        <div class="list-block media-list">
                                            <img class="article home0" src="img/article2.jpg">
                                            <div class="time home0">
                                                <time datetime="2015-08-30">Aug 30, 2015</time>
                                            </div>
                                            <h1 class="article-title home0">
Depuis que Google a changé de nom, les demandes de noms de domaine en .XYZ ont explosé
</h1>
                                            <a class="readmore" href="article1.html" class="link">Read more</a>
                                            <div class="separator"></div>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-50 home0">
                                    <article class="home0">
                                        <div class="list-block media-list">
                                            <img class="article home0" src="img/article3.jpg">
                                            <div class="time home0">
                                                <time datetime="2015-08-30">Aug 29, 2015</time>
                                            </div>
                                            <h1 class="article-title home0">
Le Galaxy Note 5 a une plus « petite » batterie, mais une meilleure autonomie que le Note 4
</h1>
                                            <a class="readmore" href="article2.html" class="link">Read more</a>
                                            <div class="separator"></div>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-50 home0">
                                    <article class="home0">
                                        <div class="list-block media-list">
                                            <img class="article home0" src="img/article4.jpg">
                                            <div class="time home0">
                                                <time datetime="2015-08-30">Aug 29, 2015</time>
                                            </div>
                                            <h1 class="article-title home0">
Projet Ara : Google décide de retarder la sortie de son smartphone modulaire
</h1>
                                            <a class="readmore" href="article3.html" class="link">Read more</a>
                                            <div class="separator"></div>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-50 home0">
                                    <article class="home0">
                                        <div class="list-block media-list">
                                            <img class="article home0" src="img/article5.jpg">
                                            <div class="time home0">
                                                <time datetime="2015-08-30">Aug 28, 2015</time>
                                            </div>
                                            <h1 class="article-title home0">
<span class="live">EN DIRECT</span> Salon Auto Genève 2015 le Live des nouveautés
</h1>
                                            <a class="readmore" href="#" class="link">Read more</a>
                                            <div class="separator"></div>
                                        </div>
                                    </article>
                                </div>

                                <div class="col-50 home0">
                                    <article class="home0">
                                        <div class="list-block media-list">
                                            <img class="article home0" src="img/article6.jpg">
                                            <div class="time home0">
                                                <time datetime="2015-08-30">Aug 28, 2015</time>
                                            </div>
                                            <h1 class="article-title home0">
Los Angeles Bird's-eye Overview from Griffiths Observatory, California
</h1>
                                            <a class="readmore" href="#" class="link">Read more</a>
                                            <div class="separator"></div>
                                        </div>
                                    </article>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <script type="text/javascript" src="js/jquery.simpleWeather.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="js/my-app.js"></script>
</body>

</html>