<div data-page="login-screen" class="page no-navbar no-toolbar no-swipeback">
  <div class="page-content login-screen-content">
    <div class="login-screen-title login">Welcome at Aristote</div>
    
    <div class="content-block login">
        <p class="intro">Discover new people join the community</p>
    </div>
    <div class="content-block button-connect">
        <a href="#" class="button button-big button-round facebook">Sign up with Facebook</a>
        <a href="index.html" class="button button-big button-round email">Sign up with Email</a>
    </div>

  </div>
</div>  
