<div data-page="login-screen" class="page no-navbar no-toolbar no-swipeback">
  <div class="page-content login-screen-content login2">
    <div class="login-screen-title login">Welcome at Aristote</div>
    
    <div class="content-block login">
        <p class="intro login2">Discover new people join the community</p>
    </div>
    <div class="content-block button-connect">
        <a href="index.html" class="button button-big button-round login2">Sign in</a>
    </div>
    
    <div class="skip"><a class="skip" href="index.html" class="link">Skip</a></div>

  </div>
</div>  
