<div data-page="login-screen" class="page no-navbar no-toolbar no-swipeback">
        <div class="page-content login-screen-content">
            <div class="login-screen-title login">Welcome at Aristote</div>

            <div class="content-block login">
                <p class="intro">Create your profile now and join the community</p>
            </div>

            <form>
                <div class="list-block login">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-input">
                                    <input class="style" type="email" name="email" placeholder="E-mail">
                                </div>
                            </div>
                        </li>
                </div>
                <div class="separator login1"></div>
                <div class="list-block login">
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-input">
                                <input class="style" type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                    </li>
                </div>
                </ul>
                <div class="separator login1"></div>
            </form>

            <div class="done"><a class="done" href="index.html" class="link">Done</a></div>
        </div>
</div>
