    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">@PATSYF</div>
                </div>
            </div>
            
            <div class="pages navbar-through toolbar-through">
                <div data-page="profile" class="page">
                    <div class="page-content">

                        <div class="list-block media-list profile">
                            <ul class="home">
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img width="80" height="80" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/59.jpg">
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title author profile">Patsy Fowler</div>
                                            </div>
                                            <div class="item-subtitle location profile">Paris, France</div>
                                            <a href="#" class="button button-big button-round follow profile">Follow</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="content-block">
                            <div class="row profile">
                                <div class="col-33 profile">851</div>
                                <div class="col-33 profile">8.4k</div>
                                <div class="col-33 profile">12.3k</div>
                            </div>
                        </div>

                        <div class="content-block">
                            <div class="row profile stats">
                                <div class="col-33 profile stats">Post</div>
                                <div class="col-33 profile stats">Followers</div>
                                <div class="col-33 profile stats">Following</div>
                            </div>
                        </div>

                        <img class="profile" src="img/article2.jpg">
                        <div class="content-block profile">
                            <div class="content-block-inner info">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                    <div class="left date">
                                        <time datetime="2015-08-30">Aug 30, 2015</time>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="right post-comment"><i class="fa fa-comment"></i> 14</div>
                                        <div class="right visual"><i class="fa fa-heart"></i> 126</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img class="profile" src="img/article1.jpg">
                        <div class="content-block profile">
                            <div class="content-block-inner info">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                    <div class="left date">
                                        <time datetime="2015-08-30">Aug 30, 2015</time>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="right post-comment"><i class="fa fa-comment"></i> 26</div>
                                        <div class="right visual"><i class="fa fa-heart"></i> 75</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img class="profile" src="img/article3.jpg">
                        <div class="content-block profile">
                            <div class="content-block-inner info">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                    <div class="left date">
                                        <time datetime="2015-08-30">Aug 29, 2015</time>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="right post-comment"><i class="fa fa-comment"></i> 12</div>
                                        <div class="right visual"><i class="fa fa-heart"></i> 87</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img class="profile" src="img/article4.jpg">
                        <div class="content-block profile">
                            <div class="content-block-inner info">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                    <div class="left date">
                                        <time datetime="2015-08-30">Aug 29, 2015</time>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="right post-comment"><i class="fa fa-comment"></i> 68</div>
                                        <div class="right visual"><i class="fa fa-heart"></i> 165</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img class="profile" src="img/article5.jpg">
                        <div class="content-block profile">
                            <div class="content-block-inner info">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                    <div class="left date">
                                        <time datetime="2015-08-30">Aug 29, 2015</time>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="right post-comment"><i class="fa fa-comment"></i> 18</div>
                                        <div class="right visual"><i class="fa fa-heart"></i> 23</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <img class="profile" src="img/article6.jpg">
                        <div class="content-block profile">
                            <div class="content-block-inner info">
                                <div class="row no-gutter">
                                    <div class="col-50">
                                    <div class="left date">
                                        <time datetime="2015-08-30">Aug 28, 2015</time>
                                    </div>
                                    </div>
                                    <div class="col-50">
                                        <div class="right post-comment"><i class="fa fa-comment"></i> 29</div>
                                        <div class="right visual"><i class="fa fa-heart"></i> 54</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
