<body>
    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">@HAZELLA</div>
                </div>
            </div>

            <div class="pages navbar-through toolbar-through">
                <div data-page="profile" class="page">
                    <div class="page-content">

                        <div class="list-block media-list profile1">
                            <ul class="home">
                                <li>
                                    <div class="item-content profile1">
                                        <div class="item-media profile1">
                                            <img width="120" height="120" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                        </div>
                                    </div>
                                    <div class="author profile1">Hazel Lane</div>
                                    <div class="content-block profile1">
                                        <p class="profile1">Writer for the journal <span class="color journal">cnn</span></p>
                                        <a href="#" class="button button-big button-round follow profile1">Follow</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="separator profile1"></div>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">Aug 30, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article1.jpg">
                                <h1 class="article-title">
La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches
</h1>
                                <div class="article-content">
                                    Si vous voulez mettre toutes les chances de votre côté, n’hésitez pas à utiliser Photoshop ou un autre logiciel pour retoucher vos photos. Triste réalité ?
                                </div>
                                <a class="readmore" href="article.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-30">Aug 30, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article2.jpg">
                                <h1 class="article-title">
Depuis que Google a changé de nom, les demandes de noms de domaine en .XYZ ont explosé
</h1>
                                <div class="article-content">
                                    Le nom de domaine d’Alphabet, la nouvelle maison mère de Google, est ABC.XYZ.
                                </div>
                                <a class="readmore" href="article1.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-29">Aug 29, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article3.jpg">
                                <h1 class="article-title">
Le Galaxy Note 5 a une plus « petite » batterie, mais une meilleure autonomie que le Note 4
</h1>
                                <div class="article-content">
                                    Le Galaxy Note 5 a une batterie de 3 000 mAh, ce qui ne l’empêche pas d’avoir une meilleure autonomie que le Note 4.
                                </div>
                                <a class="readmore" href="article2.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                        <article>
                            <div class="list-block media-list">
                                <ul class="home">
                                    <li>
                                        <div class="item-link item-content">
                                            <div class="item-media">
                                                <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/26.jpg">
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title-row">
                                                    <div class="author">Hazel Lane</div>
                                                </div>
                                                <div class="time">
                                                    <time datetime="2015-08-29">Aug 29, 2015</time>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <img class="article" src="img/article4.jpg">
                                <h1 class="article-title">
Projet Ara : Google décide de retarder la sortie de son smartphone modulaire
</h1>
                                <div class="article-content">
                                    Normalement, les smartphones modulaires de Google devaient arriver en Amérique Latine cette année. Mais la firme de Mountain View a décidé de retarder ce lancement.
                                </div>
                                <a class="readmore" href="article3.html" class="link">Read more</a>
                                <div class="separator"></div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>