<div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">@ANNEPO</div>
                </div>
            </div>

            <div class="pages navbar-through toolbar-through">
                <div data-page="profile" class="page">
                    <div class="page-content">

                        <div class="list-block media-list profile2">
                            <ul class="home">
                                <li>
                                    <div class="item-content profile2">
                                        <div class="item-media profile2">
                                            <img width="80" height="80" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                        </div>
                                    </div>
                                    <div class="author profile2">Anne Powell</div>
                                    <div class="content-block profile2">
                                        <p class="profile2">Hi, i've been working in the cg animation field and with advertising agencies since 2006.</p>
                                        <a href="#" class="button button-big button-round follow profile1">Follow</a>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="separator profile2"></div>
                        <div class="center">
                            <div class="buttons-row login3 profile2">
                                <a href="#tab3" class="tab-link active button profile2">Posts</a>
                                <a href="#tab4" class="tab-link button profile2">Photos</a>
                            </div>
                        </div>
                        <div class="separator profile2"></div>

                        <div class="tabs">

                            <div id="tab3" class="tab active">
                                <article>
                                    <div class="list-block media-list">
                                        <ul class="home">
                                            <li>
                                                <div class="item-link item-content">
                                                    <div class="item-media">
                                                        <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="author">Anne Powell</div>
                                                        </div>
                                                        <div class="time">
                                                            <time datetime="2015-08-30">Aug 30, 2015</time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="article" src="img/article1.jpg">
                                        <h1 class="article-title">
La preuve que sur Tinder, il n’y a rien de plus efficace que les retouches pour avoir un maximum de matches
</h1>
                                        <div class="article-content">
                                            Si vous voulez mettre toutes les chances de votre côté, n’hésitez pas à utiliser Photoshop ou un autre logiciel pour retoucher vos photos. Triste réalité ?
                                        </div>
                                        <a class="readmore" href="article.html" class="link">Read more</a>
                                        <div class="separator"></div>
                                    </div>
                                </article>

                                <article>
                                    <div class="list-block media-list">
                                        <ul class="home">
                                            <li>
                                                <div class="item-link item-content">
                                                    <div class="item-media">
                                                        <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="author">Anne Powell</div>
                                                        </div>
                                                        <div class="time">
                                                            <time datetime="2015-08-30">Aug 30, 2015</time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="article" src="img/article2.jpg">
                                        <h1 class="article-title">
Depuis que Google a changé de nom, les demandes de noms de domaine en .XYZ ont explosé
</h1>
                                        <div class="article-content">
                                            Le nom de domaine d’Alphabet, la nouvelle maison mère de Google, est ABC.XYZ.
                                        </div>
                                        <a class="readmore" href="article1.html" class="link">Read more</a>
                                        <div class="separator"></div>
                                    </div>
                                </article>

                                <article>
                                    <div class="list-block media-list">
                                        <ul class="home">
                                            <li>
                                                <div class="item-link item-content">
                                                    <div class="item-media">
                                                        <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="author">Anne Powell</div>
                                                        </div>
                                                        <div class="time">
                                                            <time datetime="2015-08-29">Aug 29, 2015</time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="article" src="img/article3.jpg">
                                        <h1 class="article-title">
Le Galaxy Note 5 a une plus « petite » batterie, mais une meilleure autonomie que le Note 4
</h1>
                                        <div class="article-content">
                                            Le Galaxy Note 5 a une batterie de 3 000 mAh, ce qui ne l’empêche pas d’avoir une meilleure autonomie que le Note 4.
                                        </div>
                                        <a class="readmore" href="article2.html" class="link">Read more</a>
                                        <div class="separator"></div>
                                    </div>
                                </article>

                                <article>
                                    <div class="list-block media-list">
                                        <ul class="home">
                                            <li>
                                                <div class="item-link item-content">
                                                    <div class="item-media">
                                                        <img width="40" height="40" style="border-radius:100%" src="https://randomuser.me/api/portraits/med/women/3.jpg">
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="author">Anne Powell</div>
                                                        </div>
                                                        <div class="time">
                                                            <time datetime="2015-08-29">Aug 29, 2015</time>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <img class="article" src="img/article4.jpg">
                                        <h1 class="article-title">
Projet Ara : Google décide de retarder la sortie de son smartphone modulaire
</h1>
                                        <div class="article-content">
                                            Normalement, les smartphones modulaires de Google devaient arriver en Amérique Latine cette année. Mais la firme de Mountain View a décidé de retarder ce lancement.
                                        </div>
                                        <a class="readmore" href="article3.html" class="link">Read more</a>
                                        <div class="separator"></div>
                                    </div>
                                </article>
                            </div>

                            <div id="tab4" class="tab">
                                <img class="profile" src="img/article2.jpg">
                                <div class="content-block profile">
                                    <div class="content-block-inner info">
                                        <div class="row no-gutter">
                                            <div class="col-50">
                                            <div class="left date">
                                                <time datetime="2015-08-30">Aug 30, 2015</time>
                                            </div>
                                            </div>
                                            <div class="col-50">
                                                <div class="right post-comment"><i class="fa fa-comment"></i> 14</div>
                                                <div class="right visual"><i class="fa fa-heart"></i> 126</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <img class="profile" src="img/article1.jpg">
                                <div class="content-block profile">
                                    <div class="content-block-inner info">
                                        <div class="row no-gutter">
                                            <div class="col-50">
                                            <div class="left date">
                                                <time datetime="2015-08-30">Aug 30, 2015</time>
                                            </div>
                                            </div>
                                            <div class="col-50">
                                                <div class="right post-comment"><i class="fa fa-comment"></i> 26</div>
                                                <div class="right visual"><i class="fa fa-heart"></i> 75</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <img class="profile" src="img/article3.jpg">
                                <div class="content-block profile">
                                    <div class="content-block-inner info">
                                        <div class="row no-gutter">
                                            <div class="left date">
                                                <time datetime="2015-08-30">Aug 29, 2015</time>
                                            </div>
                                            <div class="col-50">
                                                <div class="right post-comment"><i class="fa fa-comment"></i> 12</div>
                                                <div class="right visual"><i class="fa fa-heart"></i> 87</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <img class="profile" src="img/article4.jpg">
                                <div class="content-block profile">
                                    <div class="content-block-inner info">
                                        <div class="row no-gutter">
                                            <div class="left date">
                                                <time datetime="2015-08-30">Aug 29, 2015</time>
                                            </div>
                                            <div class="col-50">
                                                <div class="right post-comment"><i class="fa fa-comment"></i> 68</div>
                                                <div class="right visual"><i class="fa fa-heart"></i> 165</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <img class="profile" src="img/article5.jpg">
                                <div class="content-block profile">
                                    <div class="content-block-inner info">
                                        <div class="row no-gutter">
                                            <div class="col-50">
                                            <div class="left date">
                                                <time datetime="2015-08-30">Aug 29, 2015</time>
                                            </div>
                                            </div>
                                            <div class="col-50">
                                                <div class="right post-comment"><i class="fa fa-comment"></i> 18</div>
                                                <div class="right visual"><i class="fa fa-heart"></i> 23</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <img class="profile" src="img/article6.jpg">
                                <div class="content-block profile">
                                    <div class="content-block-inner info">
                                        <div class="row no-gutter">
                                            <div class="col-50">
                                            <div class="left date">
                                                <time datetime="2015-08-30">Aug 28, 2015</time>
                                            </div>
                                            </div>
                                            <div class="col-50">
                                                <div class="right post-comment"><i class="fa fa-comment"></i> 29</div>
                                                <div class="right visual"><i class="fa fa-heart"></i> 54</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
