    <div class="views">
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left">
                        <a href="#" class="back">
                            <span class="ti-angle-left"></span>
                        </a>
                    </div>
                    <div class="center sliding">Aristote</div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div data-page="weather" class="page">
                    <div class="page-content">

                        <div id="weather"></div>

                    </div>
                </div>
            </div>

        </div>
    </div>
