<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="A simple jQuery plugin to display the current weather information for any location using Yahoo! Weather. Developed by James Fleeting.">
	<meta name="viewport" content="width=device-width">
	<!-- Facebook -->
	<meta property="og:title" content="simpleWeather - a simple jQuery plugin">
	<meta property="og:description" content="A simple jQuery plugin to display the current weather information for any location using Yahoo! Weather. Developed by James Fleeting.">
	<meta property="og:url" content="http://simpleweatherjs.com/">
	<meta property="og:image" content="http://simpleweatherjs.com/images/og-image.png">
    <link type="text/css" rel="stylesheet" media="screen" href="style.css" />

	<!-- /Facebook -->

	<title>simpleWeather - a simple jQuery plugin</title>

	<!-- Excuse the mess, wanted to keep the included demo a single file. -->
	

	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body>

    <div id="weather"></div>

    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="jquery.simpleWeather.js"></script>
    <script src="weather.js"></script>
</body>
</html>
